#Sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: rgb(20, 20, 20);
    padding-top: 20px ;
    height: calc(100vh - 68px);
    
}
aside{
    padding-left: 10px;
    text-align: center;
    width: 70%;
    
}
.sobre2{
    text-align: start;
}

article img{
    padding: 10px;
    width: 50%;
    width: 500px;
}
@media (max-width: 600px){
    .sobre2{
        text-align: center;
    }
}
